body{
    background-image: url('../img/77194247_p0.jpg');
    background-size: cover;
    background-attachment: fixed; /* 固定 */
    background-repeat: no-repeat; /* 不重复 */
    padding: 0;
    margin: 0;
}
.layout {
    /* display: flex; */
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px); /* 背景模糊效果 */
    -webkit-backdrop-filter: blur(1px); /* Safari 支持 */
    background: rgba(0, 0, 0, 0.4); /* 半透明黑色背景 */
}
